.bg--base {
    background-color: $base-color;
}
.bg--primary {
    background-color: $primary;
}
.bg--secondary {
    background-color: $secondary;
}
.bg--success {
    background-color: $success;
}
.bg--danger {
    background-color: $danger;
}
.bg--warning {
    background-color: $warning;
}
.bg--info {
    background-color: $info;
}