
.text--base {
    color: $base-color;
}
.text--primary {
    color: $primary;
}
.text--secondary {
    color: $secondary;
}
.text--success {
    color: $success;
}
.text--danger {
    color: $danger;
}
.text--warning {
    color: $warning;
}
.text--info {
    color: $info;
}