
.my-100 {
    margin-top: 60px;
    margin-bottom: 60px;
    @media (min-width: 992px) {
     margin-top: 100px;
     margin-bottom: 100px;
 }
}
.mt-100 {
    margin-top: 60px;
    @media (min-width: 992px) {
     margin-top: 100px;
 }
}
.mb-100 {
    margin-bottom: 60px;
    @media (min-width: 992px) {
     margin-bottom: 100px;
 }
}

.my-50 {
    margin-top: 30px;
    margin-bottom: 30px;
    @media (min-width: 992px) {
     margin-top: 100px;
     margin-bottom: 50px;
 }
}
.mt-50 {
    margin-top: 30px;
    @media (min-width: 992px) {
     margin-top: 50px;
 }
}
.mb-50 {
    margin-bottom: 30px;
    @media (min-width: 992px) {
     margin-bottom: 50px;
 }
}


.my-80 {
    margin-top: 50px;
    margin-bottom: 50px;
    @media (min-width: 992px) {
    margin-top: 80px;
    margin-bottom: 80px;
    }
}
.mt-80{
 margin-top: 50px;
 @media (min-width: 992px) {
  margin-top: 80px;
}
}
.mb-80{
 margin-bottom: 50px;
 @media (min-width: 992px) {
  margin-bottom: 80px;
}
}
.my-50 {
    margin-top: 30px;
    margin-bottom: 30px;
 @media (min-width: 992px) {
  margin-top: 50px;
  margin-bottom: 50px;
}
}
.mt-50 {
 margin-top: 30px;
 @media (min-width: 992px) {
  margin-top: 50px;
}
}
.mb-50 {
 margin-bottom: 30px;
 @media (min-width: 992px) {
  margin-bottom: 50px;
    }
}