
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Teko:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body, p{
    font-family:$font-roboto;
    color: $body-color;
    word-wrap: break-word;
}
h1, h2, h3,h4, h5, h6{
    font-family: $font-teko;
    color: $secondary-color;
    margin: 0;
    font-weight: 600;
}
p{
    color: $body-color;
    font-size: 16px;
    margin: 0;
    font-weight: 300;
    line-height: 1.9;
}
a{
    display: inline-block;
    transition: .3s;
    text-decoration: none;
}
a:hover {
    color: $base-color;
  }

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
  select {
    cursor: pointer;
  }
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  button {
    cursor: pointer;
  }
  *:focus {
    outline: none;
  }
  button {
    border: none;
  }
  button:focus {
    outline: none;
  }
  span {
    display: inline-block;
  }
 