$border-color: #dadce0;
$primary: #7367f0;
$secondary: #868e96;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #1e9ff2;

$base-color: #377574;
$secondary-color: #141414;
$heading-color: #1b222d;
$para-color: #777777;
$font-roboto: "Roboto", sans-serif;
$font-teko: "Teko", sans-serif;
$white: #fff;
$body-color: #777777;
