
$border-color: #dadce0;
$primary: #7367F0;
$secondary: #868E96;
$success: #28C76F;
$danger: #EA5455;
$warning: #FF9F43;
$info: #1E9FF2;

$base-color: #DF0E0E; 
$secondary-color: #141414; 
$heading-color: #1B222D;
$para-color: #777777;
$font-roboto: 'Roboto', sans-serif;
$font-teko: 'Teko', sans-serif;
$white: #fff;
$body-color: #777777; 


