.brand {
    background-color: $white;
    &.style-two {
        background-color: #FBFBFB;
    }
}
.brand-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 160px !important;
    }
    .slick-slide {
        margin: 0 10px;
    }
}