.home-two-blog {
    background-color: #FBFBFB;
    &.bg-img {
        background-size: contain;
        background-position: left top;
    }
}

.home-two-blog-item {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: $base-color;
        transition: .4s;
    }
    &:hover::before {
        width: 100%;
    }
    .thumb  {
        position: relative;
        a {
            display: block;
            img {
                width: 100%;
                max-height: 376px;
                object-fit: cover;
                transition: .3s;
              }
          }
          .date {
            position: absolute;
            background-color: $base-color;
            padding: 10px 20px;
            left: 0;
            transform: translateX(0);
            bottom: -23px;
            border: 2px solid #ddd;
            color: #ffff;
            font-size: 14px;
          }
    }
    .content {
        padding: 40px 20px 20px;
        background-color: #ffff;
        box-shadow: 0 0 7px 0px #ddddddc7;
        @media (max-width: 575px) {
            padding: 35px 15px 15px;
        }
        .title {
            a {
                text-align: left;
                font-size: 22px;
                font-weight: 500;
                color: $secondary-color;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                overflow: hidden;
                &:hover {
                    color: $base-color;
                }
              }
            }
      }
}
