
.team {
    &.bg-img {
        background-size: 100% 60%;
        background-position: top center;
        @media (max-width: 991px) {
            background-size: 0;
        }
    }
    &.overlay-bg {
        &::before {
            height: 60%;
            @media (max-width: 991px) {
                background-color: transparent;
            }
        }
    }
    .section-header{
        .title {
            @media (max-width: 991px) {
                color: $secondary-color !important;
            }
        }
    }
}

.team-item {
  background-color: $white;
  padding: 25px;
  @media (max-width: 991px) {
      padding: 0px;
  }
  .thumb {
    position: relative;
    img {
        width: 100%;
        max-height: 293px;
        object-fit: cover;
      }
      .share-icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $base-color;;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: $white;
        font-size: 20px;
        border: 5px solid $white;
        bottom: -30px;
        cursor: pointer;
        &:hover a{
            color: $secondary-color;
        }
        a {
            color: $white;
        }
      }
  }
  &:hover .content{
    background-color: $secondary-color;
        .name, .name a, .designation  {
            color: $white;
        }
    }       
  .content {
    text-align: center;
    padding: 50px 20px 20px;
    background-color: #fbfbfb;
    transition: .3s;
    .name {
        font-size: 24px;
        font-weight: 500;
        color: $secondary-color;
        a {
            font-size: 24px;
            font-weight: 500;
            color: $secondary-color;
            &:hover {
                color: $base-color;
            }
        }
      }
      .designation {
        color: $secondary-color;
      }
      
  }
}

.popup-share-icons {
    background-color: $base-color;
    padding: 13px 25px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    border: 2px solid $white;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    margin: 0 -5px;
    li {
        padding: 0 5px;
    }
    &.show {
        visibility: visible;
        opacity: 1;
        bottom: 65px;
    }
    @media (max-width: 991px) {
        padding: 12px 20px;
    }
    @media (max-width: 767px) {
        padding: 10px 20px;
    }
    @media (max-width: 575px) {
        padding: 8px 20px;
    }
    .popup-icons {
        li {
            a {
                color: $white !important;
                font-size: 16px;
                &:hover {
                    color: $secondary-color !important;
                }
            }
        }
    }
}
